#charachter-preview {
  width: 50%;
  height: 100%;
  position: relative;
}

#circle {
  width: 80%;
  max-width: 500px;
  min-width: 200px;
  aspect-ratio: 19/ 19;
  border-radius: 50%;
  background-color: var(--light-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 100px 100px rgba(150, 199, 213, 0.129);
}

#charachter-mods-wrapper {
  display: flex;
  position: relative;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua);
  border-radius: 10%;
}
